<div class="parent">
  <h1 class="title container d-flex justify-content-center">
    <span>
    <span style="--j: 0">P</span>
    <span style="--j: 1">a</span>
    <span style="--j: 2">s</span>
    <span style="--j: 3">s</span>
    <span style="--j: 4">w</span>
    <span style="--j: 5">o</span>
    <span style="--j: 6">r</span>
    <span style="--j: 7">d </span>
    <span style="--j: 8">M</span>
    <span style="--j: 9">a</span>
    <span style="--j: 10">n</span>
    <span style="--j: 11">a</span>
    <span style="--j: 12">g</span>
    <span style="--j: 13">e</span>
    <span style="--j: 14">r</span>
  </span>
  </h1>
  <div class="container1">
    <div class="login-box">
      <h2>Login</h2>
      @if (errorLog) {
      <div class="invalid-logs">Identifiants invalides</div>
      }
      <form action="#">
        <div class="input-box">
          <input
            id="email"
            type="email"
            [(ngModel)]="loginObj.email"
            name="email"
            required
          />
          <label for="email">Email</label>
        </div>
        <div class="input-box">
          <input
            id="password"
            type="password"
            [(ngModel)]="loginObj.password"
            name="password"
            required
          />
          <label for="password">Password</label>
        </div>
        <div class="forgot-pass">
          <a href="#">Forgot your password?</a>
        </div>
        <button type="button" class="btn" (click)="onLogin()">Login</button>
        <div class="signup-link">
          <a href="#">Signup</a>
        </div>
      </form>
    </div>
    <span style="--i: 0"></span>
    <span style="--i: 1"></span>
    <span style="--i: 2"></span>
    <span style="--i: 3"></span>
    <span style="--i: 4"></span>
    <span style="--i: 5"></span>
    <span style="--i: 6"></span>
    <span style="--i: 7"></span>
    <span style="--i: 8"></span>
    <span style="--i: 9"></span>
    <span style="--i: 10"></span>
    <span style="--i: 11"></span>
    <span style="--i: 12"></span>
    <span style="--i: 13"></span>
    <span style="--i: 14"></span>
    <span style="--i: 15"></span>
    <span style="--i: 16"></span>
    <span style="--i: 17"></span>
    <span style="--i: 18"></span>
    <span style="--i: 19"></span>
    <span style="--i: 20"></span>
    <span style="--i: 21"></span>
    <span style="--i: 22"></span>
    <span style="--i: 23"></span>
    <span style="--i: 24"></span>
    <span style="--i: 25"></span>
    <span style="--i: 26"></span>
    <span style="--i: 27"></span>
    <span style="--i: 28"></span>
    <span style="--i: 29"></span>
    <span style="--i: 30"></span>
    <span style="--i: 31"></span>
    <span style="--i: 32"></span>
    <span style="--i: 33"></span>
    <span style="--i: 34"></span>
    <span style="--i: 35"></span>
    <span style="--i: 36"></span>
    <span style="--i: 37"></span>
    <span style="--i: 38"></span>
    <span style="--i: 39"></span>
    <span style="--i: 40"></span>
    <span style="--i: 41"></span>
    <span style="--i: 42"></span>
    <span style="--i: 43"></span>
    <span style="--i: 44"></span>
    <span style="--i: 45"></span>
    <span style="--i: 46"></span>
    <span style="--i: 47"></span>
    <span style="--i: 48"></span>
    <span style="--i: 49"></span>
  </div>
</div>
